<div id="leimg">
<h1><{$smarty.const._MD_LEIMG_LANG_UPLOAD_BLANK_IMAGE}> : <{$dir}> - <{$dtname}></h1>
<p>
<{$smarty.const._MD_LEIMG_DESC_UPLOAD_BLANK_IMAGE}>
</p>

<{if $actionForm->hasError()}>
  <ul class="error">
    <{foreach item=message from=$actionForm->getErrorMessages()}>
      <li><{$message|xoops_escape}></li>
    <{/foreach}>
  </ul>
<{/if}>
<form action="<{xoops_cooluri dirname=$dirname dataname=blank action=edit}>" method="post" enctype="multipart/form-data">
  <dl>
    <dt><{$smarty.const._MD_LEIMG_LANG_BLANK_IMAGE}></dt>
    <dd>
      <{if $blankImage->hasBlankImage()}>
      <{$blankImage->makeImageTag(0)}>
      <{/if}>
      <{xoops_input type=file name=blankimage size=30}>
    </dd>

    <dt></dt>
    <dd>
      <{xoops_token form=$actionForm}>
      <{xoops_input type=hidden name=dirname value=$dir}>
      <{xoops_input type=hidden name=dataname value=$dtname}>
      <input type="submit" value="<{$smarty.const._SUBMIT}>" />
      <input type="submit" value="<{$smarty.const._CANCEL}>" name="_form_control_cancel" />
    </dd>
  </dl>
</form>
</div>
