<div id="leimg">
<h1><{$smarty.const._MD_LEIMG_LANG_THUMBNAIL_REMAKE}> <{$target_dirname|xoops_escape}> - <{$target_dataname|xoops_escape}></h1>
<{if $actionForm->hasError()}>
  <ul class="error">
    <{foreach item=message from=$actionForm->getErrorMessages()}>
      <li><{$message|xoops_escape}></li>
    <{/foreach}>
  </ul>
<{/if}>
<p><{$smarty.const._MD_LEIMG_DESC_THUMBNAIL_REMAKE}></p>
<form action="<{xoops_cooluri dirname=$dirname dataname=thumbnail action=remake}>" method="post">
  <fieldset>
    <{xoops_token form=$actionForm}>
    <{xoops_input type=hidden name=dirname value=$actionForm->get('dirname')}>
    <{xoops_input type=hidden name=dataname value=$actionForm->get('dataname')}>
    <input type="submit" value="<{$smarty.const._SUBMIT}>" />
    <input type="submit" value="<{$smarty.const._CANCEL}>" name="_form_control_cancel" />
  </fieldset>
</form>
</div>
